@use "../abstracts/" as *;

* {
    margin: 0;
    padding: 0;
    font-family: montserrat, sans-serif;
    box-sizing: border-box;
  }
  
  .button-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
  }
  
  .button {
    appearance: none;
    background: none;
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 8px;
    color: $color-grey;
    font-size: 15px;
    font-weight: 600;
    margin-left: 15px;
    cursor: pointer;
    transition: 0.4s;
  }
  
  .button-2 {
    color: $color-orange;
    border: 3px solid $color-orange;
    background-image: linear-gradient(to right, transparent 50%, $color-orange 50%);
    background-size: 200%;
    background-position: 0%;
  }
  
  .button-2:hover {
    color: $color-secondary;
    background-position: -100%;
  }
  